* {
  font-family: "Rubik", sans-serif;
  margin-top: 0;
}
:root {
  --text-menu: #4a4a4a;
  --background: #3cdbc0;
  --main-text: #ffffff;
}
.header {
  width: 100%;
  height: 15%;
  font-size: 16px;
  color: var(--text-menu);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: white;
  padding-top: 10px;
}
.header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}
.blog {
  margin-right: 20px;
}
.main {
  width: 100%;
  height: 100vh;
  font-size: 30px;
  color: var(--main-text);
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main .title {
  max-width: min-content;
}

@media all and (min-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact {
    margin-right: 60px;
  }
  .img-logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .main {
    font-size: 40px;
  }
}
